@model EARGE.DataLayer.MoneyOutgoing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MoneyOutgoing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectTask.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTask.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamMember.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamMember.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamMember1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamMember1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamMember2.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamMember2.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
